name: Run tests

on: [push, workflow_dispatch]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    services:
      nbank:
        image: nobugsme/nbank:with_deletion
        ports:
          - 4111:4111

      selenoid:
        image: aerokube/selenoid:latest-release
        ports:
          - 4444:4444

      selenoid-ui:
        image: aerokube/selenoid-ui:latest-release
        ports:
          - 8080:8080

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run tests
        run: ./mvnw clean test
